@model List<KidKinder.Entities.Teacher>
<div class="col-xl-6 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Member’s performance</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li>
                        <i class="fa fa fa-wrench open-card-option"></i>
                    </li>
                    <li>
                        <i class="fa fa-window-maximize full-card"></i>
                    </li>
                    <li>
                        <i class="fa fa-minus minimize-card"></i>
                    </li>
                    <li>
                        <i class="fa fa-refresh reload-card"></i>
                    </li>
                    <li>
                        <i class="fa fa-trash close-card"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover m-b-0 without-header">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-inline-block align-middle">
                                        <img src="@item.Image" alt="user image" class="img-radius img-40 align-top m-r-15">
                                        <div class="d-inline-block">
                                            <h6>@item.Name @item.Surname</h6>
                                            <p class="text-muted m-b-0">@item.Branch.Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <h6 class="f-w-700">
                                        @item.FieldOfStudy
                                        <i class="fas fa-level-up-alt text-c-green m-l-10"></i>
                                    </h6>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
