@model List<KidKinder.Entities.ClassRoom>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-4">
                <span class="px-2">Popular Classes</span>
            </p>
            <h1 class="mb-4">Classes for Your Kids</h1>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-5">
                    <div class="card border-0 bg-light shadow-sm pb-2">
                        <img class="card-img-top mb-2" src="@item.Image" alt="" />
                        <div class="card-body text-center">
                            <h4 class="card-title">@item.Header</h4>
                            <p class="card-text">
                                @item.Descripction
                            </p>
                        </div>
                        <div class="card-footer bg-transparent py-4 px-5">
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right">
                                    <strong>Age of Kids</strong>
                                </div>
                                <div class="col-6 py-1">@item.AgeOfKid</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right">
                                    <strong>Total Seats</strong>
                                </div>
                                <div class="col-6 py-1">@item.TotalSeat Seats</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right">
                                    <strong>Class Time</strong>
                                </div>
                                <div class="col-6 py-1">@item.ClassTime</div>
                            </div>
                            <div class="row">
                                <div class="col-6 py-1 text-right border-right">
                                    <strong>Tution Fee</strong>
                                </div>
                                <div class="col-6 py-1">$@item.Price / Month</div>
                            </div>
                        </div>
                        <a href="/BookASeat/Index/@item.ClassRoomId" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
