@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("HeadPartial", "Default")
<body>
    <!-- Navbar Start -->
    @Html.Action("NavigationBarPartial", "Default")
    <!-- Navbar End -->
    <!-- Header Start -->
    @Html.Action("FeaturePartial", "Default")
    <!-- Header End -->
    <!-- Facilities Start -->
    @Html.Action("ServicePartial", "Default")
    <!-- Facilities End -->
    <!-- About Start -->
    @Html.Action("AboutPartial", "Default")
    <!-- About End -->
    <!-- Class Start -->
    @Html.Action("ClassRoomPartial", "Default")
    <!-- Class End -->
    <!-- Registration Start -->
    @Html.Action("BookASeatPartial", "Default")
    <!-- Registration End -->
    <!-- Team Start -->
    @Html.Action("TeacherPartial", "Default")
    <!-- Team End -->
    <!-- Testimonial Start -->
    @Html.Action("TestimonialPartial", "Default")
    <!-- Testimonial End -->
    <!-- Footer Start -->
    @Html.Action("FooterPartial", "Default")
    <!-- Footer End -->
    @Html.Action("ScriptPartial", "Default")
    <!-- Back to Top -->   
</body>
</html>