
@model List<KidKinder.Entities.Gallery>
@{
    ViewBag.Title = "GalleryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Gallery List</h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li>
                                    <i class="fa fa fa-wrench open-card-option"></i>
                                </li>
                                <li>
                                    <i class="fa fa-window-maximize full-card"></i>
                                </li>
                                <li>
                                    <i class="fa fa-minus minimize-card"></i>
                                </li>
                                <li>
                                    <i class="fa fa-refresh reload-card"></i>
                                </li>
                                <li>
                                    <i class="fa fa-trash close-card"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="background-color:antiquewhite; color:black">
                                        <th scope="rowgroup">#</th>
                                        <th scope="col">Category Id</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">First Image Url</th>
                                        <th scope="col">Second Image Url</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Turn on Or off</th>
                                        <th scope="col">Update</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@item.GalleryId</th>
                                            <td>@item.CategoryId</td>
                                            <td style="text-align:justify">@item.Description</td>
                                            <td>@item.Image1</td>
                                            <td>@item.Image2</td>
                                            @if (item.Statu == true)
                                            {
                                                <td style="color:green">Active</td>
                                            }
                                            else
                                            {
                                                <td style="color:red">Passive</td>
                                            }
                                            <td>
                                                <a href="/GalleryAdmin/ImageStatusForTrue/@item.GalleryId" type="button"
                                                   class="breadcrumb-item">Activate</a> Or
                                                <a href="/GalleryAdmin/ImageStatusForFalse/@item.GalleryId" type="button"
                                                   class="crumb-item">Passivate</a>
                                            </td>

                                            <td>
                                                <a href="/GalleryAdmin/UpdateGallery/@item.GalleryId" type="button"
                                                   class="btn btn-outline-success">Update</a>
                                            </td>
                                            <td>
                                                <a href="/GalleryAdmin/DeleteGallery/@item.GalleryId" type="button"
                                                   class="btn btn-outline-danger">Remove</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/GalleryAdmin/CreateGallery/" class="btn btn-outline-primary col-md-12 " style="margin-top: 1rem;">Create New Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>