@model KidKinder.Entities.Teacher
@{
    ViewBag.Title = "UpdateTeacher";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Update Your Teacher</h5>
                                <a href="/TeacherAdmin/TeacherList/">
                                <span>Go back to<code>Teacher List</code> with <code>&lt;this&gt;</code> url</span>
                                </a>
                                
                            </div>
                            <div class="card-block">
                                <h4 class="sub-title">Basic Informations</h4>
                                <form method="post">

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Teacher Id</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="name" name="TeacherId" value="@Model.TeacherId">

                                            @* Trying html.texboxfor 
                                            @Html.TextBoxFor(i=> i.TeacherId, new {@class="form-control"})
                                            *@
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="name" name="Name" value="@Model.Name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Surname</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="surname" name="Surname" value="@Model.Surname">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Title</label>
                                        <div class="col-sm-10">
                                            @*<input type="text" class="form-control" placeholder="title" name="Title" value="@Model.Branch.Name">*@
                                            @Html.DropDownListFor(b => b.BranchId, (List<SelectListItem>)ViewBag.BranchName, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Field of Study</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="field of study" name="FieldOfStudy" value="@Model.FieldOfStudy">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Upload File</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="Image" value="@Model.Image">
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-success col-md-12">Update New Teacher</button>
                                </form>
                            </div>
                        </div>
                        <!-- Basic Form Inputs card end -->
                    </div>
                </div>
            </div>
            <!-- Page body end -->
        </div>
    </div>
</div>