@model KidKinder.Entities.Communication
@{
    ViewBag.Title = "UpdateCommunication";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Update New Communication</h5>
                        <a href="/CommunicationAdmin/CommunicationList/"><span>Go back <code>communication list</code> with this element</span></a>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="card-body">
                            <form role="form" method="post" action="/CommunicationAdmin/UpdateCommunication/">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" placeholder="communication id" name="CommunicationId" value="@Model.CommunicationId">
                                            <label>Title</label>
                                            <input type="text" class="form-control" placeholder="title" name="Title" value="@Model.Title">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Header</label>
                                            <input type="text" class="form-control" placeholder="header" name="Header" value="@Model.Header">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" placeholder="address" name="Address" value="@Model.Address">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input type="email" class="form-control" placeholder="e-mail" name="Email" value="@Model.Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="tel" class="form-control" placeholder="phone" name="Phone" value="@Model.Phone">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Opening Hour</label>
                                            <input type="text" class="form-control" placeholder="phone" name="OpeningHour" value="@Model.OpeningHour">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Day</label>
                                            <input type="text" class="form-control" placeholder="day" name="Day" value="@Model.Day">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Day</label>
                                            <input type="text" class="form-control" placeholder="hour" name="Hour" value="@Model.Hour">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="3" placeholder="description" name="Descripction">@Model.Descripction</textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-success col-md-12">Update New Communication</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>